.photo{
    height:  500px  ;
    border-radius: 25px ;
    border : 2px solid white ; 
}
.about-me{
    display: flex ;
    justify-content: center;
    gap : 5px ; 
    margin-bottom: 20px ;
    height: 64vh ;
    width: 100% ;  
}
.box2{
    display: flex  ;
    flex-direction: column;
    flex-basis: 40% ;
    align-content: center;
    background-color: orange;
    border-radius: 25px ;
}
.heading{
    font-size: 45px ;
    text-align: center;
    line-height: 50px ;
}
.data{
    text-align: center;
    color: black;
    font-weight: 500;
    overflow : scroll;
}
.data::-webkit-scrollbar{
    display: none ;
}
#about{
    height: 100vh ;
    width: 100% ;
    align-content: center;
}

