body{
    background-color: black;
    font-family: Roboto , arial ;
    color: white ;
    margin : 0 0 0 0 ; 
    padding-left : 80px ; 
    padding-right : 20px ; 
    padding-top : 112px ;  
     
}
*{
    margin : 0 ; 
    padding : 0 ; 
}
::-webkit-scrollbar{
    width: 10px ;

}
::-webkit-scrollbar-track{
    background-color: black ;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(white , grey );
}