.sidebar{
    position  :fixed;
    top : 46px ;
    left : 0px ;
    width: 55px ;
    bottom : 0px ;
    background-color: black;
    padding : 0px 3px ;
}
.side-image img{
    height: 65px  ;
    width: 70px ;
    object-fit: cover ;
    border-radius: 10px 10px 10px 10px ;
 
}
.sidebar-icon-flex div{
border : solid 1px white ; 
}
.side-image{
    display: flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    white-space: nowrap ;
    position: relative;
}
.home-p , .subs-p , .u-p {
    font-size: 8px ;
    position: absolute;
    bottom: 11px ;
    margin : 0 0 0 0  ; 
}
.shorts-p{
    position: absolute;
    font-size: 8px ;
    bottom : 5px  ;
    margin : 0 0 0 0 ;
    transition: background-color 0.15s ;
    
}
.side-image:hover{
    background-color: rgb(56, 55, 55);
} 
@media (max-width : 570px) {
    .sidebar{
        display: none ;
    }
    body{
        padding-left : 60px ; 
    }
}
@media (min-width : 571px) and (max-width : 799px ){
    .sidebar{
        display: none ;
    }
    body{
        padding-left : 20px ; 
    }
}




